
#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
.pnp
.pnp.js
.npm/
dist/
dist-ssr/

*.local
.env
.env.local
.env.*.local

coverage/
playwright-report/
test-results/
.playwright/
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?